@font-face {
  font-family: 'Norse Bold';
  src: url("assets/Norse-Bold.otf") format("opentype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
