@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norse-Bold.otf") format("opentype");
}

:root {
  --main-background: #e5e7eb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
}

.logo {
  background-image: url("assets/background_picture.avif");
  background-size: cover;
  width: max-content;
  height: 100vh;
  background-repeat: no-repeat;
}

.sidebar-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vh;
  position: relative;
  top: 15em;
}

.sidebar-image p {
  color: white;
  font-family: "Norse Bold";
  font-size: 5em;
}

.content {
  background-color: var(--main-background);
  width: 100%;
  padding-left: 3em;
}

p {
  font-size: 1.5em;
}

header p:first-child {
  padding: 5em 30em 1em 0em;
}

header p:last-child {
  padding: 0 5em 3em 0em;
}

form {
  margin-top: 1.5em;
}
